.filter-row {
  padding-top:5px;
  font-size: 80%;
  display: flex;
  width: 100%;
  align-items: center;
}

.filter-row > * {
  width: 100%;
}

.filter-col {
  background-color:lightgray;
  display: flex;
  align-items: center;
}

.filter-col > * {
  display: flex;
}

.filter-input {
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(./filter.svg);
  background-repeat: no-repeat;
  background-size: 1rem;
  background-position: right 5px bottom 50%;
}

.sort-button {
  border: 0.5px solid lightgray;
  border-radius: 3px;
  margin-left: 3px;
  min-width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
  background-color: white;
  font-weight: 400;
  transition-property: background-color 0 ease-in-out 0.5s, font-weight 0 ease-in-out 0.5s;
}

.sort-button:hover{
  background-color: var(--yellow);
  font-weight: 900;
}