.filter-row {
  padding-top:5px;
  font-size: 80%;
  display: flex;
  width: 100%;
  align-items: center;
}

.filter-row > * {
  width: 100%;
}

.filter-col {
  background-color:lightgray;
  display: flex;
  align-items: center;
}

.filter-col > * {
  display: flex;
}

.filter-input {
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(./filter.svg);
  background-repeat: no-repeat;
  background-size: 1rem;
  background-position: right 5px bottom 50%;
}