.doc-container {
  width: 100%;
  margin:20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.item {
  width: 100%;
  margin-bottom: 20px;
}

.col-name {
  font-size: 120%;
  font-weight: bolder;
}