.button {
  opacity: 1 !important;
  padding: 5px 8px;
  color: black;
  border: 0.5px solid gray;
  background-color: whitesmoke;
  border-radius: 3px;
  cursor: pointer;
  font-size: small;
  font-weight: 700;
  outline: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* http://outlinenone.com/ */
.button:focus{
  outline: 0;
}

.hidden {
  opacity: 0 !important;
}

.button:hover {
  background-color: var(--primary);
  color: var(--light);
}

.hidden:hover {
  opacity: 1 !important;
  background-color: var(--danger);
  color: var(--light);
}

.hidden:active {
  background-color: #a02732;
}

.blank {
  background-color: white !important;
}

.sideby {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
}

.sideby > *{
  margin: 0px 5px;
}

.bar {
  margin: 5px;
}

.upload-file-bar {
  display: flex;
  flex-direction: row;
}

.upload-file-bar > * {
  margin: 5px 5px 5px 0px;
}

.bad-icon {
  width: 32px;
  height: 32px;
  background-image: url(./frown.png);
  background-size: contain;
}