.sticky {
  position: sticky !important;
  position: -webkit-sticky !important;
  z-index: 2;
}

.hovered:hover{
  background-color: whitesmoke;
}

.nodata-indicator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100%;
  width: 100%;
  background-color: whitesmoke;
}

.clear-back {
  padding: 3px 0px;
  width: 100%;
  height: 100%;
  background-color: white !important;
}