.text-cell{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.text-plain {
  margin: 0.5rem;
  /* font-weight: bold; */
  letter-spacing: -0.02rem;
}

.text-header-1 {
  font-weight: 900;
  font-size: 130%;
  letter-spacing: -0.01rem;
  border-bottom: 1px solid black;
}

.text-header-2 {
  font-weight: 700;
  font-size: 110%;
  margin-left: 5px;
}

.text-header-3{
  font-weight: 700;
  margin-left: 10px;
}

.text-badge {
  min-width: 100px;
  text-align: right;
  font-family: 'Avenir Next Condensed', 'Arial Narrow';
  border-radius: 3px;
  padding: 3px 7px;
  margin: 0px 5px;
  font-weight: 700;
}

.warn { 
  color: black;
  background-color: var(--yellow);
}

.info {
  color: white;
  background-color: var(--info);
}

.succ {
  color: white;
  background-color: var(--green);
}