.file-input {
  display:none;
}

.upload-button {
  opacity: 1 !important;
  padding: 5px 8px;
  text-align: center;
  color: black;
  border: 1px solid black;
  border-radius: 3px;
  cursor: pointer;
  font-size: small;
  font-weight: 700;
  outline: 0;
}

/* http://outlinenone.com/ */
.upload-button:focus{
  outline: 0;
}

.upload-button:hover {
  border-color: black;
  background: var(--yellow);
}

.upload-button:active {
  background: #dea700;
}