.sticky {
  position: sticky !important;
  position: -webkit-sticky !important;
  z-index: 2;
}

.hovered:hover{
  background-color: whitesmoke;
}

.hovered:active{
  background-color: lightgray;
}


.hidden-scroll {
  overflow: auto;
}

.hidden-scroll::-webkit-scrollbar {
  display:none;
}