.upload-wrapper {
  display: flex;
  margin: 5px;
}

.input-button {
  min-width: 50px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.file-input {
  display:none;
}

.upload {
  margin-left: 5px;
}

.upload:hover {
  background: var(--yellow);
}

.upload:active {
  background: #dea700;
}