.edit {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.insert-sibly {
  margin-left: 5px;
  height: 1.5rem;
  width: 1.5rem;
  background-size: 1.5rem;
  background-image: url('./insert.svg');
}

.insert-child {
  margin-left: 5px;
  height: 1.5rem;
  width: 1.5rem;
  background-size: 1.5rem;
  background-image: url('./add-child.svg');
}

.remove {
  height: 1.5rem;
  width: 1.5rem;
  background-size: 1.5rem;
  background-image: url('./cross.svg');
}

.link {
  height: 1.5rem;
  width: 1.5rem;
  background-size: 1.5rem;
  background-image: url('./right-arrow.svg');
}

.edit-hover {
  opacity: 0.3;
}

.edit-hover:hover{
  opacity: 1 !important;
}