h1{
  font-size: 300%;
  font-weight: 900;
  letter-spacing: -0.1rem;
}

h3{
  font-size: 150%;
  font-weight: 900;
  letter-spacing: -0.1rem;
}

p {
  text-justify: left;
  font-weight: lighter;
  font-size: small;
  /* letter-spacing: 0.01rem; */
  /* margin: 30px 0; */
}

li {
  font-weight: lighter;
  font-size: small;
}

ol {
  padding-inline-start: 20px;
}