.page-text {
  max-width: 500px;
  margin: 20px;
}

.page-right-side {
  height: 750px;
  overflow-y: scroll;
  margin:35px 20px 0;
  min-width: 400px;
  flex: 1;
}::-webkit-scrollbar {
  display: none;
}

.page-container {
  height: 100%;
  width: 100%;
}

.content-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  overflow-y:hidden;
}

.mobile-container{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.qr-block {
  text-align: center;
}

@media screen and (min-width: 960px) {
  .content-container{
    /* margin: 10px; */
  }
}

@media screen and (max-width: 960px){
  .content-container {
    margin: 10px;
    width: 1040px;
  }
}