.edit {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.insert {
  margin-left: 5px;
  height: 1.5rem;
  width: 1.5rem;
  background-size: 1.5rem;
  opacity: 0.3;
  background-image: url('./insert.svg');
}

.insert:hover{
  opacity: 1 !important;
}

.remove {
  height: 1.5rem;
  width: 1.5rem;
  background-size: 1.5rem;
  opacity: 0.3;
  background-image: url('./cross.svg');
}

.remove:hover{
  opacity: 1 !important;
}